.bPageCont{
    height: 450px;
    /* width: 1500px; */
    border: 2px solid black;
    margin-top: 130px;
    background-image: url('../../public/img/designbg7p.png');
    /* background-color: #bbb9e9; */
    background-color: #424874;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.bPagebox{
    /* border: 2px solid red; */
    width: 780px;
}
.bBox{
    /* border: 2px solid white; */
    text-align: center;
}
#box1,#box3{
    font-size: 16px;
    font-style: italic;
    margin: 20px;
    font-family: 'Armata';
}
#box2{
    font-size: 30px;
    /* font-weight: 400; */
    /* font-family: 'Belgrano'; */
    font-family: 'Arvo';
}
#inter{
    color: red;
}







@media screen and (max-width: 767px) {
    .bPageCont{
        height: 580px;
        /* width: 400px; */
        border: 2px solid black;
        margin-top: 130px;
        background-image: url('../../public/img/designbg1phone.png');
        background-color: #424874;
        border-radius: 20px;
        margin-left: 10px;
        margin-right: 10px;
        color: white;
    }
    .bPagebox{
        /* border: 2px solid red; */
        width: 350px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    #box2{
        font-size: 24px;

    }
  }