.footerCon{
    margin-top: 60px;

}


:root{
    --white:#FFF;
    --black:#000;
    --dark:#1E1E1E;
    --gray:rgba(1,1,1,0.6);
    --lite:rgba(255,255,255,0.6);
    /* --lite:#424874; */
    /* --primary:#002347; */
    --primary:#64748b;
    --secondary:#fdc632;
}


/***************************
            DEFAULT
****************************/
footer{
    margin:0;
    overflow-x:hidden !important;
    font-family: 'Armata';
}

footer a{
    text-decoration:none !important;
    min-width: fit-content;
    width: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    /* border: 2px solid red; */
}

 footer a, footer button{
    transition:0.5s;
}

footer a, footer p{
    font-size:14px;
}

footer h1, footer h2,footer h3,footer h4,footer h5,footer h6{
    color:var(--primary);
    font-weight:600;
}

footer a,footer button,footer input,footer textarea,footer select{
    outline:none !important;
}

#footerlogo{
    height: 65px;
    width: 250px;
    /* border: 1px solid red; */
background-image: url("../../public/weblogo1.svg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}


fieldset{
    border:0;
}

.title{
    color:var(--primary);
}

.flex, .fixed_flex{
    display:flex;
}

.flex-content{
    width:100%;
    position:relative;
}

.padding_1x{
    padding:1rem;
}

.padding_2x{
    padding:2rem;
}

.padding_3x{
    padding:3rem;
}

.padding_4x{
    padding:4rem;
}

/* .btn{
    padding:0.8rem 2rem;
    border-radius:5px;
    text-align:center;
    font-weight:500;
    text-transform:uppercase;
} */

.btn_1{
    border:1px solid var(--primary);
    background-color:var(--primary);
    color:var(--secondary);
}

.btn_1:hover{
    background-color:transparent;
    color:var(--primary);
}

.btn_2{
    border:1px solid var(--secondary);
    background-color:var(--secondary);
    color:var(--primary);
}

.btn_2:hover{
    border:1px solid var(--primary);
    background-color:var(--primary);
    color:var(--secondary);
}

.vivek section:nth-child(2){
    /* border: 2px solid red; */
    padding: 0px;
    margin-top: -19px;

}
.satyam section:nth-child(2){
    /* border: 2px solid red; */
    padding: 0px;
    margin-top: -19px;
}
#copy{
    text-align: center !important;
}

@media (max-width:920px){
    .flex{
        flex-wrap:wrap;
    }
    
    .padding_1x, .padding_2x, .padding_3x, .padding_4x{
        padding:1rem;
    }
  
    .btn{
        padding:0.5rem 1rem;
    }
    
    footer a,footer p{
        font-size:12px;
    }
}



/***************************
               FOOTER
****************************/
footer{
    background-color:var(--primary);
    color:var(--lite);
}

footer h3{
    color:var(--white);
    margin-bottom:1.5rem;
}

footer a{
    color:var(--lite);
    display:block;
    margin:15px 0;
}

footer a:hover{
    color:var(--white);
}

footer fieldset{
    padding:0;
}

footer fieldset input{
    background-color:#334f6c;
    border:0;
    color:var(--lite);
    padding:1rem;
}

footer fieldset .btn{
    border-radius:0;
    border:0;
}

footer fieldset .btn_2:hover{
    background-color:var(--secondary);
    border:0;
    color:var(--primary);
}

footer .flex:last-child{
    align-items:center;
}

footer .flex:last-child .flex-content:last-child{
    text-align:right;
}

footer .flex:last-child p{
    color:var(--white);
}

footer .flex:last-child a{
    width:40px;
    display:inline-block;
    background-color:#334f6c;
    color:var(--white);
    padding:0.5rem;
    margin-right:3px;
    text-align:center;
}

footer .flex:last-child a:hover{
    background-color:var(--secondary);
    color:var(--gray);
}

@media (max-width:1100px){
    footer .flex:first-child{
        flex-wrap:wrap;
    }
    
    footer .flex:first-child .flex-content{
        flex: 1 1 40%;
    }
}

@media (max-width:920px){
    footer .flex:last-child .flex-content:last-child{
        text-align:left;
    }
}

@media (max-width:320px){
    footer .flex:first-child .flex-content{
        flex:1 1 100%;
    }
}

